<form [formGroup]="loginform">
    <div>
        <label>Email</label>
        <input type="text" formControlName="email">
    </div>
    <div>
        <label>PAssword</label>
        <input type="password" formControlName="password">
    </div>
    <button [disabled]="loginform.invalid" (click)="login()">Login</button>
</form>