<table>
    <thead>
        <th>Sr. No</th>
        <th>Name</th>
        <th>City</th>
        <th>Email</th>
        <th>Mobile</th>
        
    </thead>
    <tbody>
        <tr *ngFor="let r of restaurents; let i = index">
            <td>{{i+1}}</td>
            <td>{{r.name}}</td>
            <td>{{r.city}}</td>
            <td>{{r.email}}</td>
            <td>{{r.mobile}}</td>
        </tr>
    </tbody>
</table>
<button (click)="logout()">Logout</button>