<form [formGroup]="loginform">
    <div>
        <label>Email</label>
        <input type="text" formControlName="email">
    </div>
    <div>
        <label>Password</label>
        <input type="password" formControlName="password">
    </div>
    <button (click)="login()">Login</button>
</form>