<form [formGroup]="custform">
    <div>
        <label>Name</label>
        <input type="text" formControlName="name">
    </div>
    <div>
        <label>Email</label>
        <input type="text" formControlName="email">
    </div>
    <div>
        <label>Mobile</label>
        <input type="text" formControlName="mob">
    </div>
    <div>
        <label>City</label>
        <input type="text" formControlName="city">
    </div>
    <div>
        <label>Password</label>
        <input type="password" formControlName="password">
    </div>
    <button [disabled]="custform.invalid" (click)="signup()">Add</button>
</form>

