<form [formGroup]="restroForm">
    <div>
        <label>Name</label>
        <input type="text" formControlName="name">
    </div>
    <div>
        <label>Eail</label>
        <input type="text" formControlName="email">
    </div>
    <div>
        <label>City</label>
        <input type="text" formControlName="city">
    </div>
    <div>
        <label>Mobile</label>
        <input type="text" formControlName="mobile">
    </div>
    <div>
        <label>PAssword</label>
        <input type="password" formControlName="password">
    </div>

    <button (click)="signup()">Sign Up!</button>
</form>