<button (click)="addMenu()" type="submit">Add</button>

<table>
    <thead>
        <th>S.no</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor = "let m of menu ; let i=index;">
            <td>{{i+1}}</td>
            <td>{{m.name}}</td>
            <td>{{m.cost}}</td>
            <td><button (click)="editMenu(m)" >Edit</button> <button (click)="deleteMenu()">Delete</button>
            </td>
        </tr>
    </tbody>
</table>