<form [formGroup]="additem">
<div>
    <label>item name</label>
    <input type="text" formControlName="name">

</div>
<div>
    <label>Cost</label>
    <input type="text" formControlName="cost">
</div>
<button type="submit" (click)=add()>Add</button>
</form>
